Server/RoutingServer/RoutingServer/Connected Services/ProxyServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProxyCache/ProxyService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProxyCache.Models" />
  <xs:element name="GetAllContracts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProxyCache.Models" minOccurs="0" name="GetAllContractsResult" nillable="true" type="q1:ArrayOfContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStationsOfAContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStationsOfAContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProxyCache.Models" minOccurs="0" name="GetAllStationsOfAContractResult" nillable="true" type="q2:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetASpecificStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationNumber" type="xs:int" />
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetASpecificStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProxyCache.Models" minOccurs="0" name="GetASpecificStationResult" nillable="true" type="q3:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProxyCache.Models" minOccurs="0" name="ResolveAddressResult" nillable="true" type="q4:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProxyCache.Models" minOccurs="0" name="position" nillable="true" type="q5:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ProxyCache.Models" minOccurs="0" name="GetNearestCityResult" nillable="true" type="q6:City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItinerary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ProxyCache.Models" minOccurs="0" name="departPosition" nillable="true" type="q7:Position" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ProxyCache.Models" minOccurs="0" name="arrivalPosition" nillable="true" type="q8:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItineraryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ProxyCache.Models" minOccurs="0" name="GetItineraryResult" nillable="true" type="q9:Itinerary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>